@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

html, body {
    margin:0;
    padding:0;
    color: #222;
    background: #EEE;
    font-family: 'Ubuntu', sans-serif;
}
/* welcome */
#welcome, #body, #welcomecactus, #welcomeflowerpot {
    display: none;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.title {
    width: 100%;
    text-align: center;
    font-size: 3em;
}
.next, .previous, .done {
    cursor: pointer;
}
.previous {
    position: absolute;
    left: 0;
    top: 13em;
}
.next {
    position: absolute;
    right: 0;
    top: 13em;
}
.done {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
}
/* mixed */
.preview, #view .flowerpot, #view .cactus {
    width: 20em;
    height: 20em;
    margin: 0 auto;
    background-size: cover;
}
/* game */
#view {
    position: relative;
    width: 100%;
    height: 20em;
}
#view .flowerpot, #view .cactus {
    position: absolute;
    margin: 0 auto;
}
#humiditymeter {
    text-align: center;
    font-size: 2em;
}
#thoughts {
    color: #666;
    position: absolute;
    right: 1em;
    top: 3em;
}
#age {
    position: absolute;
    left: 1em;
    top: 3em;
    font-size: 5em;
}
